@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: beige;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.main__title{
  font-size: 40px;
  
}
.status {
  margin-bottom: 10px;
  font-size: 24px;

}

.restart-button {
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(137, 43, 226, 0.436);
  border: none;
  border-radius: 2px;
  width: 120px;

}
.restart-button:hover{
  background-color: rgba(182, 103, 255, 0.436);
  cursor: pointer;
  text-decoration:underline;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: white;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

}

.board-row {
  clear: both;
  content: '';
  display: table;
}